!!!
%html
  %head
  %body
    .contents
      .side
        %p.side_name ユーザー 
        %a.side_icon1{href: "http://google.com"} <i class="fa fa-pencil-square-o "></i> 
        %a.side_icon2{href: "http://google.com"} <i class="fa fa-gear "></i>
        .side_groups
          .group 
            %p.group_name グループ名1
            %p.group_message コメント
          .group 
            %p.group_name グループ名2
            %p.group_message コメント
          .group 
            %p.group_name グループ名3
            %p.group_message コメント
          .group 
            %p.group_name グループ名4
            %p.group_message コメント
          .group 
            %p.group_name グループ名5
            %p.group_message コメント
          .group 
            %p.group_name グループ名6
            %p.group_message コメント

      .main
        .main_header
          .header 
            %p.header_current 現在のグループ
            %p.header_member Member : ユーザー
          %a.edit{href: "http://google.com"} Edit

        .message
          .message_lists
            .message_info
              %p.message_name ユーザー
              %p.message_data 2019/09/06(金) 12:34
            %p.message_text コメント
          .message_lists
            .message_info
              %p.message_name ユーザー
              %p.message_data 2019/09/06(金) 12:34
            %p.message_text コメント
          .message_lists
            .message_info
              %p.message_name ユーザー
              %p.message_data 2019/09/06(金) 12:34
            %p.message_text コメント
          .message_lists
            .message_info
              %p.message_name ユーザー
              %p.message_data 2019/09/06(金) 12:34
            %p.message_text コメント
          .message_lists
            .message_info
              %p.message_name ユーザー
              %p.message_data 2019/09/06(金) 12:34
            %p.message_text コメント

        .form
          .form_list
            %form{method: "post"}
            %input.form_message{type: "text", placeholder: "type a message"}
              %label.form_icon{for: "image"}
                %input#image.form_image{type: "file"} <i class="fa fa-photo "></i>
            %input.form_send{type: "submit" ,value: "Send"} 
